[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H fd:// {% if docker_bridge_ip is defined %}--bip={{ docker_bridge_ip }}{% endif %} {% if docker_container_ip is defined %}--fixed-cidr={{ docker_container_ip }}{% endif %} {% for dns in docker_dns %} --dns {{ dns }} {% endfor %} {% if docker_storage_driver is defined %}--storage-driver={{ docker_storage_driver }}{% endif %}
